@model firstApp.Models.Figura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Figura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.angulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.angulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorFiguras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorFiguras.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.figuraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
